In [1]:
from pathlib import Path
import pandas as pd
import sqlite3

import warnings
warnings.simplefilter(action='ignore')

In [2]:
in_dir = Path('/home/xn/Documents')
file = 'korona_hun - koronahun.xlsx'

df = pd.read_excel(in_dir/file)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 39 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Dátum                                                                1030 non-null   datetime64[ns]
 1   Regisztrált esetek száma                                             723 non-null    float64
 2   Új esetek száma                                                      723 non-null    float64
 3   Elhunytak                                                            710 non-null    float64
 4   Gyógyultak                                                           713 non-null    float64
 5   Mintavétel száma                                                     723 non-null    float64
 6   Egymillió lakosra elvégzett tesztek száma                            721 non-null    float64
 7   Kórházi karanténba zártak száma                                      30 non-null     float64
 8   Regisztrált esetek százalékos változása az előző naphoz viszonyítva  720 non-null    float64
 9   Pozitív tesztek aránya                                               723 non-null    float64
 10  A mintavételek számának százalékos változása az előző naphoz képest  720 non-null    float64
 11  Aktív fertőzöttek száma                                              722 non-null    float64
 12  Elhunytak aránya Magyarországon                                      710 non-null    float64
 13  Gyógyultak aránya Magyarországon                                     713 non-null    float64
 14  Hatósági házi karantén                                               650 non-null    float64
 15  Új mintavételek száma                                                722 non-null    float64
 16  Új esetek aránya az új mintavételekhez képest                        685 non-null    float64
 17  Az új elhunytak száma naponta                                        710 non-null    float64
 18  Új gyógyultak naponta                                                713 non-null    float64
 19  Kórházi ápoltak száma                                                677 non-null    float64
 20  Lélegeztetőgépen lévők száma                                         675 non-null    float64
 21  Aktív esetek/összes eset                                             722 non-null    float64
 22  Kórházi ápoltak számának változása az előző naphoz képest            721 non-null    float64
 23  Lélegeztetőgépen lévők számának változása az előző naphoz képest     721 non-null    float64
 24  Kórházi ápoltak aránya az aktív eseteken belül                       677 non-null    float64
 25  Lélegeztetőgépen lévők aránya a kórházi ápoltakon belül              677 non-null    float64
 26  Növekedési faktor                                                    710 non-null    float64
 27  Hétnapos mozgóátlag                                                  669 non-null    float64
 28  Hétnapos csúszóátlag                                                 717 non-null    float64
 29  Hétnapos csúszóátlag.1                                               704 non-null    float64
 30  Hétnapos csúszóátlag.2                                               716 non-null    float64
 31  Hétnapos csúszóátlag.3                                               713 non-null    float64
 32  Beoltottak száma Magyarországon                                      422 non-null    float64
 33  Új beoltottak száma Magyarországon                                   422 non-null    float64
 34  Hétnapos csúszóátlag.4                                               416 non-null    float64
 35  Második oltás                                                        400 non-null    float64
 36  Második oltás napi                                                   400 non-null    float64
 37  Hétnapos csúszóátlag.5                                               394 non-null    float64
 38  Hétnapos csúszóátlag.6                                               706 non-null    float64
dtypes: datetime64[ns](1), float64(38)
memory usage: 314.0 KB

In [25]:
insert_table = df[['Dátum',
                   'Új esetek száma',
                   'Az új elhunytak száma naponta',
                   'Új mintavételek száma',
                   'Új gyógyultak naponta',
                   'Új beoltottak száma Magyarországon'
                  ]]
insert_table.columns = [['date',
                         'new_cases',
                         'new_deaths',
                         'new_samples',
                         'new_recoveries',
                         'new_vaccinated'
                        ]]
insert_table.fillna(0,inplace=True)
#insert_table['date'] = insert_table['date'].astype(str)
insert_table['new_cases'] = insert_table['new_cases'].astype(int)
insert_table['new_deaths'] = insert_table['new_deaths'].astype(int)
insert_table['new_samples'] = insert_table['new_samples'].astype(int)
insert_table['new_recoveries'] = insert_table['new_recoveries'].astype(int)
insert_table['new_vaccinated'] = insert_table['new_vaccinated'].astype(int)

           date new_cases new_deaths new_samples new_recoveries new_vaccinated
0    2020-03-04         2          0           0              0              0
1    2020-03-05         2          0           0              0              0
2    2020-03-06         0          0          39              0              0
3    2020-03-07         1          0          50              0              0
4    2020-03-08         2          0          43              0              0
...         ...       ...        ...         ...            ...            ...
1025 2022-12-24         0          0           0              0              0
1026 2022-12-25         0          0           0              0              0
1027 2022-12-26         0          0           0              0              0
1028 2022-12-27         0          0           0              0              0
1029 2022-12-28      4397         56           0           4839            113

[1030 rows x 6 columns]

In [38]:
db_name = 'covid_19_db.sqlite'
con = sqlite3.connect(in_dir/db_name)
cur = con.cursor()

try:
    cur.execute("""CREATE TABLE covid_19_hun
                (id integer PRIMARY KEY, 
                date TEXT,
                new_cases INTEGER,
                new_deaths INTEGER,
                new_samples INTEGER,
                new_recoveries INTEGER,
                new_vaccinated INTEGER
                );
                """
               )
    for row in insert_table.iterrows():
        cur.execute(f"""INSERT INTO covid_19_hun
        VALUES (
        {row[0]},
        "{row[1][0].strftime('%Y-%m-%d')}",
        {int(row[1][1])},
        {int(row[1][2])},
        {int(row[1][3])},
        {int(row[1][4])},
        {int(row[1][5])}
        )
        """)
except (sqlite3.OperationalError, sqlite3.IntegrityError) as err:
    print(err)
    print("rolling back table creation..")
    con.rollback()
    
con.commit()
con.close()

creating covid_19_hun table..
inserting rows..
done